{% extends "students/base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% block meta_title %}{% trans "Delete exam" %}{% endblock meta_title %}
{% block title %}{% trans "Delete exam" %}{% endblock title %}
{% block content %}

<form action="{% url "exams_delete" object.id %}" method="post">
    {% csrf_token %}
    <p>{% trans "Do you realy wan't delete exam" %} "{{ object }}"?</p>
    <input type="submit" value="{% trans "Yes" %}" name="delete_button" class="btn btn-danger" />
    <a href="{% url "exams" %}" class="btn btn-info">{% trans "No" %}</a>
    <br /><br />
</form>

{% endblock content %}