{% extends "students/base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block meta_title %}{% trans "Journal" %}{% endblock meta_title %}
{% block title %}{% trans "Journal" %}{% endblock title %}

{% block content %}

{% if not students %}

<div class="alert alert-warning"> 
    {% trans "For the moment there is no student in base. Please ," %} <a href="{% url "students_add" %}">{% trans "add" %}</a>{% trans "the first." %}
</div>

{% else %}

{% if perms.auth.add_user %}

<div class="alert alert-warning">
    {% trans "The changes in the journal are saved automatically with every click on table square" %}
    <span id="ajax-progress-indicator">{% trans "Saving..." %}</span>
</div>

{% else %}

<div class="alert alert-warning">
    {% trans "You can't make changes" %}
</div>

{% endif %}

<p id="journal-nav" class="text-center">
    <a href="?month={{ prev_month }}" title="{% trans "Previous month" %}">&larr;</a>
    <strong>{{ month_verbose }} {{ year }}</strong>
    <a href="?month={{ next_month }}" title="{% trans "Next mounth" %}" >&rarr;</a>
</p>
<table class="table table-hover table-striped table-bordered" id="students-journal">    
    <thead>
        <tr class="header">
            <th class="num">#</th>
            <th class="name">{% trans "Student" %}</th>
            {% for day in month_header %}
            <th class="day-header">
                {% trans day.verbose %}
                <br />
                {{ day.day }}
            </th>
            {% endfor %}
        </tr>    
    </thead>
    <tbody>
               
        {% csrf_token %}
        
        {% for student in students %}
        <tr>            
            <td>
                {% if is_paginated %}
                    {{ page_obj.start_index|add:forloop.counter|add:"-1" }}
                {% else %}
                    {{ forloop.counter }}
                {% endif %}
            </td>
            
            {% if perms.auth.add_user %}
            
            <td>
                <a href="{% url "students_edit" student.id %}" title="{% trans "Edit" %}" target="_blank">
                {{ student.fullname }} 
                </a>
            </td>
            
            {% else %}
            
            <td>
                    {{ student.fullname }} 
            </td>
            
            {% endif %}
            
            {% for day in student.days %}
            {% if perms.auth.add_user %}
            
            <td class="day-box">
                <input type="checkbox"  data-student-id="{{ student.id }}" data-date="{{ day.date }}" data-url="{{ student.update_url }}" value="1"{% if day.present %} checked="checked" {% endif %}/>
            </td>
            
            {% else %}
            
            <td class="day-box">
                <input type="checkbox"  data-student-id="{{ student.id }}" data-date="{{ day.date }}" data-url="{{ student.update_url }}" value="1"{% if day.present %} checked="checked" {% endif %} disabled/>
            </td>
            
            {% endif %}
            {% endfor %}
            
        </tr>
        {% endfor %}
        
    </tbody>
</table>

{% endif %}

{% with object_list=students %}
    {% include "students/pagination.html" %}
{% endwith %}



{% endblock content %}