
{% extends "students/base.html" %}
{% load static from staticfiles %}

{% block meta_title %}Студенти{% endblock meta_title %}
{% block title %}Облік відвідування{% endblock title %}
{% block content %}

            <!-- Start Main Page Content -->
        <div class="container">
            <div class="row" id="content-columns">
                <div class="col-xs-12" id="content-column">
                   
                    
                    <h3 align="center" >
                        <a href="">&larr;</a>Жовтень 2016 <a href="">&rarr;</a>
                    </h3>
                    
                    <table id="visit" class="table 
                           table-bordered 
                           table-striped" >
                            
                        <thead>

                            <th>№</th>
                            <th>Студент</th>
                            <th>Ср 1</th>
                            <th>Чт 2</th>
                            <th>Пт 3</th>
                            <th>Сб 4</th>
                            <th>Нд 5</th>
                            <th>Пн 6</th>
                            <th>Вт 7</th>
                            <th>Ср 8</th>
                            <th>Чт 9</th>
                            <th>Пт 10</th>
                            <th>Сб 11</th>
                            <th>Нд 12</th>
                            <th>Пн 13</th>
                            <th>Вт 14</th>
                            <th>Ср 15</th>
                            <th>Чт 16</th>
                            <th>Пт 17</th>
                            <th>Сб 18</th>
                            <th>Нд 19</th>
                            <th>Пн 20</th>
                            <th>Вт 21</th>
                            <th>Ср 22</th>
                            <th>Чт 23</th>
                            <th>Пт 24</th>
                            <th>Сб 25</th>
                            <th>Нд 26</th>
                            <th>Пн 27</th>
                            <th>Вт 28</th>
                            <th>Ср 29</th>
                            <th>Чт 30</th>
                            <th>Пт 31</th>

                        </thead>
                        
                        <tbody>
                            {% for student in students %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url "students_edit" student.id %}" title="Редагувати">{{ student.last_name }} {{ student.first_name }}</a></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                            </tr>
                            {% endfor %}
                        </tbody>                           
                    </table>
                </div>    
                       
                        <!-- End Students Listing -->
                    </div>
                </div>
          
{% endblock content %}