{% extends "students/base.html" %}
{% load static from staticfiles %}

{% block meta_title %}Студенти{% endblock meta_title %}
{% block title %}База Студентів{% endblock title %}
{% block content %}

<a class="btn btn-primary" href="{% url "students_add" %}">Додати Студента</a>
<div>
<!-- Start Students Listing -->
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th> <a href="">№</a></th>
      <th>Фото</th>
      <th><a href="">Прізвище &uarr;</a></th>
      <th><a href="#">Ім’я</a></th>
      <th><a href="">№ Білету</a></th>
      <th>Дії</th>
  </thead>
  <tbody>
      {% for student in students %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><img height="30" width="30" src="{% static student.image %}" class="img-circle" /></td>
        <td><a title="Редагувати" href="{% url "students_edit" student.id %}"></a>{{ student.last_name }}</td>
        <td><a title="Редагувати" href="{% url "students_edit" student.id %}"></a>{{ student.first_name }}</td>
        <td>{{ student.ticket }}</td>
      <td>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Дія
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="/journal/{{students.id}}">Відвідування</a>
            </li>
            <li role="presentation">
                <a href="{% url "students_edit" student.id %}" role="menuitem" tabindex="-1">Редагувати</a>
            </li>
            <li role="presentation">
              <a href="{% url "students_delete" student.id %}" role="menuitem" tabindex="-1">Видалити</a>
            </li>
          </ul>
        </div>
      </td>
    </tr>
    <tr>
      {% endfor %}
  </tbody>                           
</table>
<nav>
  <ul class="pagination">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li class="active"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</nav>
<!-- End Students Listing -->
</div>

{% endblock content %}
