{% extends "students/base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}{% trans "Edit student" %}{% endblock meta_title %}

{% block title %}{% trans "Edit student" %}{% endblock title %}

{% block status_message %}
{% if form.errors %}
<div class="alert alert-warning" role="alert">{% trans "Please fix the following errors" %}</div>
{% endif %}
{% endblock %}

{% block content %}

<form action="{% url "students_edit" student.id %}" method="POST" >
    <div class="form_student">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
    </div>
</form>
<br>
{% endblock content %}