/* Global Styles */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.alert {
    margin-top: 10px;
}

#footer {
    border-top: 1px solid #dddddd;
    padding-top: 10px;
}


#group-selector {
    margin-top: 40px;
}

#group-selector select {
    margin: 0;
    width: 85%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    height: 30px;
    line-height: 30px;
    color: #555555;
}

/* form styles */
textarea, select, input {
    max-width: 300px;
}

td.day-box,
th.day-header {
    padding: 4px !important;
    vertical-align: middle !important;
    text-align: center;
}

#ajax-progress-indicator {
    display: none;
}
#lang-select {
    margin-top: 14px;
    margin-left: -120px;
    padding: 0;
}
#lang-select button {
    padding: 0;
}
.lang-select-form {
    display:inline-block;
}
#user_toolbar loginbar {
    margin-left: 500px;
    text-align: right;
}

#user_toolbar {
    margin-top: -53px;
    text-align: right;
    margin-left: 770px;
}



.form_student {
    margin-left: 100px;
    margin-top: auto;
}
